section.banner {
  background-image: url(../img/banner.jpg);
  background-attachment: fixed;
  background-position: center/center;
  background-size: cover;
  height: calc(100vh - 139px);
  position: relative;
  // background: ;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 0, 0, 0.25);
  }

  .banner__texto {
    position: absolute;
    width: 90%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

    .logo__small {
      display: none;
      position: relative;
      top: -75px;
    }

    h1 {
      font-family: var(--fontMarca);
      color: var(--primario);
      font-size: 4rem;
    }

    h2 {
      color: #ffffff;
    }
  }
}
