header.header {
  display: flex;
  flex-direction: column;

  .data {
    color: var(--secundario);
    display: flex;
    width: 100%;
    padding: 15px 0;
    justify-content: space-between;

    i {
      color: var(--primario);
      margin-right: 10px;
      margin-top: 3px;
    }

    .direccion,
    .horario,
    .telefono {
      display: flex;
      font-weight: 600;
    }

    .direccion {
      text-align: left;
    }

    .horario {
      text-align: center;
    }

    .telefono {
      text-align: right;
    }
  }

  .burger {
    display: none;
    position: fixed;
    top: 15px;
    right: 15px;
    width: 30px;
    height: 24px;
    cursor: pointer;
    z-index: 10;

    .line {
      width: 100%;
      height: 6px;
      background: var(--primario);
      border-radius: 4px;
      display: block;
      box-shadow: 0 0 7px rgba(255, 255, 255, 0.5);
    }
    .line:nth-child(1) {
      transform: translateY(0);
    }
    .line:nth-child(2) {
      transform: translateY(3px);
    }
    .line:nth-child(3) {
      transform: translateY(6px);
    }
  }
}

.navegacion {
  background: var(--primario);
  line-height: 1.5rem;
  font-family: var(--fontMarca);
  z-index: 1;

  .logo {
    height: 40px;
    img {
      height: 40px;
    }

    a {
      font-weight: 700;
      color: var(--bgColor);
      text-decoration: none;
      font-size: 1.5rem;
    }
  }

  .navegacion__contenedor {
    display: flex;
    justify-content: space-between;
    transition: 0.5s ease-out;
    padding: 10px 0;

    .nav-links a {
      margin-left: 25px;
      color: var(--bgColor);
      text-decoration: none;
      text-transform: uppercase;
      font-size: 0.8rem;
      font-weight: 600;
      padding: 10px;
      display: inline-block;
    }
  }

  &.scrolled {
    background: rgba(53, 73, 94, 0.75);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;

    .navegacion__contenedor {
      padding: 7px 0;
    }
  }
}
